server:
  address: 0.0.0.0
  port: 8080
  servlet:
    session:
      timeout: 5m

spring:
  application:
    name: powercine

  datasource:
    url: "jdbc:h2:mem:movienationdb;DB_CLOSE_ON_EXIT=FALSE"
    username: "piter"
    password: "javi"
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true
    database-platform: "org.hibernate.dialect.H2Dialect"
    hibernate:
      ddl-auto: create-drop

  h2:
    console:
      enabled: true

  session:
    redis:
      flush-mode: on_save
      namespace: spring:session

  cache:
    type: redis

  data:
    redis:
      host: localhost
      password: adminpassword
      port: 6379


logging:
  level:
    root: info
    org.springframework.web: info
    org.springframework.security: debug
    org.springframework.security.oauth2: debug
    org.springframework.data.redis: debug
