services:

  minio:
    image: quay.io/minio/minio
    container_name: minio_prod
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - ../envs/.env
    environment:
      MINIO_ROOT_PATH: ${MINIO_PATH}
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASS}
      MINIO_SERVER_URL: ${MINIO_URL}
      MINIO_BROWSER_REDIRECT_URL: ${MINIO_REDIRECT}
    volumes:
      - ${MINIO_PATH}:/data
      - ./cors.xml:/etc/minio/cors.xml

  mysql:
    image: mysql:latest
    container_name: mysql_db_prod
    restart: always
    env_file:
      - ../envs/.env
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-u", "root", "-proot" ]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ${DB_PATH}:/var/lib/mysql

  redis:
    image: redis:7.2
    container_name: redis_prod
    restart: always
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]

  app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: app_powercine_prod
    restart: no
    ports:
      - "8080:8080"
    env_file:
      - ../envs/.env
    environment:
      # Variables de entorno de tu app
      SPRING_PROFILES_ACTIVE: "prod"
      # DATABASE
      SPRING_DATASOURCE_URL: ${DB_URL}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      # MINIO
      MINIO_ENDPOINT: ${MINIO_URL}
      MINIO_ACCESS_KEY: ${MINIO_USER}
      MINIO_SECRET_KEY: ${MINIO_PASS}
      # REDIS
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      FRONTEND_ENDPOINT: ${FRONTEND_URL}
    depends_on:
      mysql:
        condition: service_healthy

  artemis_messaging:
    image: apache/activemq-artemis:latest-alpine
    container_name: artemis_messaging_dev
    ports:
      - ${ARTEMIS_WEB_PORT}:${ARTEMIS_WEB_PORT}
      - ${ARTEMIS_BROKER_PORT}:${ARTEMIS_BROKER_PORT}
    env_file:
      - ../envs/.env
    environment:
      ARTEMIS_USER: ${ARTEMIS_USERNAME}
      ARTEMIS_PASSWORD: ${ARTEMIS_PASSWORD}


volumes:
  minio_data:
  mysql_data:
